{% extends 'layout.html' %}

{% block body %}
 <div class="container">
    <div class="header-container">
        <div class="header-logo-container">
          <div class="header-logo">
            Project S
          </div>
        </div>
        <div class="header-search-container">
          <label for="search">Search</label>
          <input type="text" id="search">
        </div>
        <div class="header-user-container">
          <div class="header-user">
          Username
          <img class="pfp" src="/static/images/placeholder-pfp.jpg" alt="pfp">
          </div>
        </div>
    </div>
    <div class="feature-container"></div>
    <div class="recipes-container"></div>
  </div>
  <script src="/static/script.js"></script>
  {% endblock %}
